body{
  font-family: 'Droid Serif', serif;
  background:black;
  color:white;
}

header{
  height:100px;
  color: white;
  background:black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position:sticky;
  top:0;
  opacity: 1
}

.header-name{
  padding-top:28px;
  margin:0 20px;
  font-size:23px;
  display: inline-block;
}

span{
  color:#f1b82d;
}

.header-menu{
  position:absolute;
  float:right;
  right:0;
}

.header-menu li{
  display: inline-block;
  list-style-type: none;
  margin:0 20px;
  padding-top:34px;
  font-size:17px;
}

section{
  margin-top:20px;
  padding:30px 50px;
  background:#72757d;
}

.page-display{

}


.page-header{
  border-color:blue;
  text-align: center;
  padding-top:100px;
}

.page-header h1{
  font-family: 'Oswald', sans-serif;

}

.page-header-img{
}

img{
  height:300px;
  width:300px;
  float:right;
  margin-right:10px;
  border-radius:10px;
  border:solid;
  border-color:white;
}


.page-content{

}





